<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expenses</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <%- include('./partials/header') %>
</head>
<body>
    <section class="container forms">
        <!-- <button id="b1">Use AI</button>
    <button id="b2">Add manually</button> -->

        <div class="form add-expenses">
            <div class="form-content">
                <header>Add Expenses</header>
                <form action="/add-expenses" id="receipt-details" novalidate>
                    <div class="field button-field">
                        <button id="upload-image">Auto-fill with AI by uploading receipt</button>
                    </div>
                    <div class="field input-field store-name-field">
                        <input type="text" placeholder="Store name" class="input" id="store-name" required>
                    </div>

                    <div class="field input-field" id="items-div">
                        <input type="text" placeholder="Store location" class="input" id="store-location">
                    </div>
                    

                    <div class="field button-field add-button-field">
                        <button id="add-item">Add Item</button>
                    </div>

                    <div class="field button-field">
                        <button>Track expenses</button>
                    </div>
                </form>
            </div>

        </div>
    
    </section>

    <script src="js/add_expenses.js"></script>
</body>
</html>